body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  padding-top: 20%;
}

.Row .Col {
  width:20px;
  height:20px;
  display:inline-block;
  background: #333;
  border: 0px solid #ddd;
}

.Row .Col.snek {
  background: green;
}

.Row .Col.tab {
  animation: tab 0.1s infinite;
}


.Row .Col.snek.death {
  background: black;
  animation: death 1.2s;
}

@keyframes death {
  0%   {background-color: green;}
  25%  {background-color: lightgreen;}
  50%  {background-color: grey;}
  100% {background-color: black;}
}

@keyframes tab {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}